<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
<mvc:interceptors>
    <bean class="com.toy.interceptor.LogHandlerInterceptor" />
    <mvc:interceptor>
        <mvc:mapping path="/user/**"/>
        <bean class="com.toy.interceptor.TestHandlerInterceptor" />
    </mvc:interceptor>
</mvc:interceptors>


    <!--<bean id="testInterceptor" class="com.toy.interceptor.TestHandlerInterceptor" />
    <bean id="logInterceptor" class="com.toy.interceptor.LogHandlerInterceptor" />

    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" >
        <property name="interceptors">
            <list>
                <ref bean="testInterceptor" />
                <ref bean="logInterceptor" />
            </list>
        </property>
    </bean>-->
</beans>