<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    <aop:aspectj-autoproxy  />

    <bean id="testPointCut" class="com.toy.aop.PointCut" />
    <bean id="aspect" class="com.toy.aop.TestAspect" />

    <aop:config>
        <aop:pointcut id="pointcut"
                      expression="execution(* com.toy.controller.ToyAdminController.login(..))"/>
        <aop:pointcut id="pointcut2"
                      expression="execution(* com.toy.controller.ToyUserController.add(..))" />

        <aop:aspect ref="aspect">
            <aop:around pointcut-ref="pointcut"
                        method="aroundAspect"/>
            <!--<aop:after pointcut-ref="pointcut"
                       method="afterFinalAspect"/>-->
            <aop:after-throwing pointcut-ref="pointcut2"
                                method="afterThrowingAspect"
                                throwing="exception"/>
        </aop:aspect>

    </aop:config>
    <!--<aop:config>
        <aop:pointcut id="pointcut2" expression="execution(* com.toy.aop.PointCut.main(..))"/>
        <aop:aspect ref="aspect">
            <aop:before pointcut-ref="pointcut2"
                        method="beforeAspect"/>
            <aop:after pointcut-ref="pointcut2"
                       method="afterFinalAspect"/>
        </aop:aspect>
    </aop:config>
    -->

</beans>